* {
    box-sizing: border-box;
}
.menu{
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}
.main{
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.col-1{width: 8.33%;}

[class*="col-"]{
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.row::after{
    content: "";
    clear: both;
    display: block;
}

html {
    font-family: "Lucida Sans",sans-serif;
}
.header{
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}
.menu u1{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu liL:hover{
    background-color: #0099cc;
}
