/* color颜色 image图像 repeat重复 attachment固定 position位置 */
body{
    background-color: #eeeeee;
}

h1{
    background-color: aliceblue;
}

p{
    background-color: antiquewhite;
}

div{
    background-color: aqua;
}

